.about-us-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #000;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../assets/img/about-us-transparente.png");
  background-size: cover;
  background-position: center;
  z-index: 0;
  pointer-events: none;
}

.cinema-overlay {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: yellow;
  padding: 0.5rem;
  border-radius: 4px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.about-title {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  z-index: 3;
}

.divider {
  width: 80%;
  margin: 0.5rem 0 1rem;
}

.collab-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.collab-card {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  opacity: 0;
  animation: creditRoll 6s ease-in-out forwards;
  animation-fill-mode: forwards;
}

.collab-img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.collab-info {
  text-align: left;
}

@keyframes creditRoll {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  50% {
    transform: translateY(0%);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
    display: none;
  }
}

.thank-you-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: yellow;
  font-size: 1.5rem;
  background-color: #000;
  opacity: 0;
  animation: fadeIn 3s ease-in-out forwards, slideIn 2s ease-out forwards;
  z-index: 3;
  position: relative;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0);
  }
}

.about-us-background {
  width: 100vw;
  height: 595px;
  position: relative;
  background-image: url("../assets/img/about-us-transparente.png");
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
