.footer-custom {
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: brightness(0.6); 
  position: relative;
  color: #fff;
  border-top: 2px solid white; 
}

.footer-custom::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5); 
  z-index: 0;
}

.footer-custom > * {
  position: relative;
  z-index: 1;
}


.social-icons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
}

@media (max-width: 768px) {
  .social-icons-container {
    flex-direction: row;
    gap: 0.5rem;
    margin-top: 0.5rem;
  }
}
