.my-card:hover {
  border-color: #00bfff;
  box-shadow: 0 4px 8px rgba(0, 191, 255, 0.2);
}

.card-text-container {
  max-height: 120px;
  overflow-y: auto;
  margin-bottom: 15px;
}

.card-text {
  margin: 0;
  font-size: 14px;
  line-height: 1.6;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}

.card-img-top {
  height: 200px;
  object-fit: contain;
  width: 100%;
  border-bottom: 1px solid #ddd;
}

.badge {
  margin: 2px 0;
}

.my-card {
  transition: all 0.3s ease;
}

.my-card:hover {
  border-color: #00bfff;
  box-shadow: 0 4px 8px rgba(0, 191, 255, 0.2);
  transform: scale(1.05);
}

.card-body {
  padding: 15px;
}

/* src/css/MyPurchases.css */
.orders-list .card {
  border: 1px solid #495057; /* Darker border for cards */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.orders-list .list-group-item {
  border-color: #6c757d; /* Slightly lighter border for list items */
}

/* src/css/MyPurchases.css */
.orders-list .card {
  border: 1px solid #495057; /* Darker border for cards */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.orders-list .list-group-item {
  border-color: #6c757d; /* Slightly lighter border for list items */
}
